@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Quicksand:100,200,300,400,500,600,700');


.header{
    margin: 0;
    padding: 0;
}


.wallpaper{
    background-image: url("../images/cover2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    min-width: 360px;
    margin: 0;
    transition: ease-in;
}


/* might use this later
.header1{
    color: #ffa500;
    font-family: 'Indie Flower';
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px;
    display: inline-block;  
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

*/

.navigation{
    color: #fafafa;
    font-family: "Indie Flower";
    font-weight: 200;
    font-size: 21px;
    display: inline-block;  
    position: absolute;
    top: 550px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.navigation ul li{
    padding-left: 40px;
}

.navigation ul a{
    width: 100%;
    text-decoration: none;
    color: #ffffff;
}

.navigation ul a:hover{
    color:#EA703B;
}

.general{
    font-family: "Quicksand",sans-serif;
    font-weight: 300;
    color: #fafafa;
}


/*................................................................Footer*/

footer{
    background-color: #EA703B;
    min-height: 150px;
    margin: 0;
    position: absolute;
    height: 450px;
    width: 100%;
}

.foot-general{
    text-align: center;
    font-family: "Quicksand",sans-serif;
    font-weight: 300;
    padding-top: 10px;
    text-decoration: none;
    color: #ffffff;
}

.social-links li i {
    color: #000000;
    transition: all .35s ease-in-out;
    padding-top: 10px;
    padding-left: 20px;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
}

.social-links li i:hover{
    color: #fafafa;
}

.policy-sub{
    text-decoration: none;
    color: #000000;
}

.copywrite{
    padding-top: 10px;
}


.footer-img{
    background-image: url("../images/cover3.jpg");
    background-position: center;
    position: static;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 50px;
    width: 100%;
    min-width: 500px;
    margin: 0;
}


.heading-style{
    text-align: center;
    font-family: "Quicksand",sans-serif;
    font-weight: 500;
    padding-top: 60px;
    padding-bottom: 70px;
    color: #EA703B;
}

.davy-jones{
    background-image: url("../images/davy-jones.jpg");
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.avatar {
    vertical-align: middle;
    width: 150px;
    height:150px;
    border-radius: 50%;
}

.icon{
    padding-left: 15px;
}

.margin1 {
    margin:20px;
}

.text-box{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 200px;
    text-align: center;
}

.paragraph2{
    margin-bottom: 60px;
}

.space1{
    padding-left: 25px;
}

.social-links2 li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: rgb(255,127,80, .8);
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
}

.social-links2 li a i:hover{
    background: #e84610;
}


.sub-gen{
    padding-top: 20px;
    text-align: center;
}


.bandcover{
    height: 538px;
    width: auto;
    border-radius: 3%;
    background-size: cover;
    
}

.jumbotron-space{
    padding-top: 80px;
}

.jumbo-head{
    color: rgb(255,127,80, .95);
    font-size: 70px;
    font-family: "Quicksand",sans-serif;
    text-align: center;
   
}

.padding-top1{
    padding-top: 40px;
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 130px;
}

.heading-style2{
    text-align: center;
    font-family: "Quicksand",sans-serif;
    font-weight: 500;
    padding-top: 60px;
    padding-bottom: 30px;
    color: #EA703B;
}

.icon-size i{
    color: #787878;
    text-shadow: 3px 3px 3px #ccc;
    font-size: 4.5em;
    padding-top: 20px;
}

.video{
    height: auto;
    width: 100%;
    margin: 30px;
    padding-right:60px;
}

.heading-clips{
    font-family: "Quicksand",sans-serif;
    color: #EA703B;
    padding-top: 40px;
}

.album-cover{
    width: 320;
    height: 240;
    padding-bottom: 20px;
}

.cover-heading{
    text-align: center;
    font-family: "Quicksand",sans-serif;
    font-weight: 200;
    font-size: 18px;
    padding-top: 40px;
    padding-bottom: 10px;
    color: #EA703B;
}

.padding6{
    padding-bottom: 100px;
}




.wallpaper-clis{
    background-image: url("/assets/images/preforming.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    min-width: 360px;
    margin: 0;
    transition: ease-in;
}