@import url('https://fonts.googleapis.com/css?family=Indie+Flower:100,200,300,400,500,600,700');





.wallpaper{
    background-image: url("../images/cover2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    margin: 0;
}


/* might use this later
.header1{
    color: #ffa500;
    font-family: 'Indie Flower';
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px;
    display: inline-block;  
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

*/
